.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.left,
.right {
    padding: 40px;
    /*overflow: hidden;*/
}

.right h2 {
    text-align: center;
}

.right .orders {
    display: grid;
    grid-auto-flow: row;
}

.right .orders .wrapper {
    display: grid;
    gap: 15px;
    height: 220px;
    overflow-y: auto;
}

.right .ready .wrapper {
    display: grid;
    gap: 15px;
    height: 220px;
    overflow-y: auto;
}

.left form input {
    height: 40px;
    border-radius: 8px;
    border: 1px solid lightgray;
    width: 100%;
    padding: 5px 8px;
    font-size: 18px;
}

.left form button {
    font-size: 18px;
    display: block;
    padding: 20px 30px;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.right .wrapperTicket {
    width: 60%;
    border: 1px solid red;
}

.left form button:first-of-type {
    margin-bottom: 15px;
    margin-top: 40px;
    background-color: rgb(26, 191, 31);
    color: #FFF;

}

.left form button:last-of-type {
    background-color: rgb(254, 80, 80);
    color: #FFF;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    padding: 20px 0;
    margin-bottom: 40px;
}

.option {
    padding: 20px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(188, 236, 252);
    background-color: rgb(155, 223, 246);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.resume {
    padding-bottom: 20px;
    margin: 0 auto;
}


.errors {
    margin-bottom: 20px;
}

.errors li {
    color: rgb(167, 4, 4);
    font-size: 14px;
}

@media (max-width: 1100px) {
    .container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .right {
        padding-top: 0;
    }
}